/* 
* @Author: Marte
* @Date:   2018-07-02 12:30:01
* @Last Modified by:   Marte
* @Last Modified time: 2018-07-02 12:42:53
*/
.aboutVancl{
    padding: 140px 80px 50px;
    width: 1040px;
    height: auto;
    margin: 0px auto;
    overflow: hidden;
    h2 {
        width: 125px;
        height: 37px;
        margin: 50px 0 20px 0;
        background: #a10000;
        color:#fff;
        text-align: center;
        line-height: 37px;
    }
    p {
        line-height: 30px;
        font-size: 14px;
    }
}

