/* 
* @Author: Marte
* @Date:   2018-07-03 20:14:52
* @Last Modified by:   Marte
* @Last Modified time: 2018-07-03 21:04:59
*/
.pay{
    padding-left: 20px;
    margin-top: 25px;
    p{
        font-size: 12px;
        line-height: 25px;
    }
} 
table{
    font-size: 12px;
    margin-left: 50px;
    width: 450px;
    text-align: center;
    tr{ 
        height: 38px;
        border:1px solid #ccc;
    }
    td{   
        border:1px solid #ccc;
    }

}

.table-t td{
    background: #f2f2f2;
    font-weight: bold;
}
.card {
    width: 729px;
    border: 1px solid #E6E6E6;
    margin: 0 auto;
    h3 {
        height: 28px;
        line-height: 28px;
        font-size: 14px;
        font-weight: 700;
        padding-left: 22px;
        color: #333;
        background: url(http://i.vanclimg.com/others/2011/10/8/card_title.jpg) top left repeat-x;
    }
    ul {
        padding: 10px 0;
    }
    li {
        list-style: none;
        width: 355px;
        float: left;
        line-height: 28px;
        background: url(http://i.vanclimg.com/others/2011/10/8/dian2.gif) 20px no-repeat;
        text-indent: 35px;
    }
}

a:link, a:visited {
    color: #333;
    text-decoration: none;
    font-size: 12px;
}